<div class="row" style="margin-top:2em;margin-bottom:2em;">
  <div class="small-12">
    <h1>My Bets</h1>
  </div>
</div>

<div class="row align-middle" style="margin-bottom: 2em;">
<div class="small-12 column">
  <%= form_tag("/mybets/refresh", method:"get" ) do %>
  <div class="row align-middle">
     <div class="column small-6">


          <%= select_tag "award", options_from_collection_for_select(Award.all, 'id', 'name', @selection_id.to_i)  %>

    </div>
    <div class='column small-6'>
 <%= submit_tag "Refresh", class:"button" %>
    </div>
  </div>
  <% end %>
</div>
</div>

<div class="row">
  <table class="hoover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Nominee</th>
        <th>My bet</th>
        <th>Win?</th>
        <th>Share</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial=> 'mybets', :collection => @bets %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>total share: </td>
        <td><%= number_to_currency @total_share %></td>
      </tr>
    </tfoot>

  </table>
</div>
