<%= form_for(@award, remote: true, :html=> {:role => "form"}) do |f| %>
<div id="error_explanation" style="font-size:0.8em;">
</div>

<label>
  Name
  <%= f.text_field :name  %>
</label>
<label>
  Description
  <%= f.text_field :description %>
</label>

<label>
  Active
  <%= f.check_box :active  %>
</label>

<label>
  Closing date
  <%= f.datetime_local_field :closing_date %>
</label>

<%= f.submit @award.new_record? ? "Create Award" : "Update Award", :class => "button large success" %>

<% end %>
