<div id="category_<%= category.id%>" class="row">

  <div class="small-12 small-centered columns">

    <div class="row">
      <div class="small-12 columns">
        <h1><%= category.name %></h1>
        <% if current_user.admin %>
        <%= link_to "Edit", edit_category_path(category), remote: true, :class => 'button' %>
        <%= link_to "Delete", category, remote: true, :method => :delete , data: {confirm: "Are you sure"}, :class => "button hollow alert"%>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p><%= category.description %>
        </p>
      </div>
    </div>

    <div class="row small-up-1 medium-up-2 large-up-4">
      <div class="column">
        <img class="thumbnail" src="assets/img/thumbnail/01.jpg" alt="Photo of Uranus.">
      </div>

     <div class="column">
       <% if current_user.admin %>
       <!--<%= link_to "Add", edit_category_path(category), remote: true, :class => 'button' %>-->
       <a href="#" class="button">Add Nominee</a>
       <% end %>
     </div>

    </div>
  </div>

</div>
