<div id="category_<%= category.id%>" class="row" style='margin-bottom:3.2em;'>

  <div class="small-12 small-centered columns">

    <div class="row">
      <div class="small-12 columns">
        <h3><%= category.name %>
        <% if current_user.admin %>
          <%= link_to edit_category_path(category), remote: true, :class => 'button tiny' do %>
           <i class="fi-pencil"></i>
          <% end %>
          <%= link_to  category, remote: true, :method => :delete , data: {confirm: "Are you sure"}, :class => "button hollow alert tiny" do%>
          <i class="fi-x"></i>
          <% end %>
        <% end %>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p><%= category.description %>
        </p>
      </div>
    </div>


<!-- nominees -->
    <div class="row">

      <div class="column small-4" style="background-color:#f9f9f9;border-radius:1em;">
        <div class="row">
          <div class="small-12 small-centered columns" style="text-align:center">
            <img style="max-heigth:140px; max-width:140px; margin-top:1em;" class="thumbnail" src="https://upload.wikimedia.org/wikipedia/en/e/ee/Unknown-person.gif" alt="nomee name">
        </div>
        <div class="row">
          <div class="small-12 columns small-centered" style="text-align:center">
            <h5>Nominee name</h3>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns small-centered" style="text-align:center">
            <button class="button tiny"><i class="fi-pencil"></i></button>
            <button class="button tiny alert hollow"><i class="fi-x"></i></button>
          </div>
        </div>

       <div class="row">
         <div class="small-12 columns small-centered" style="text-align:center">
           <button class="button tiny">Place Bet</button>
           <button class="button tiny alert">Unplace Bet</button>
        </div>
      </div>

    </div>
      </div>

     <div class="column small-4">
       <div row>
         <div class="small-12 columns" style="text-align:center">
       <% if current_user.admin %>
       <!--<%= link_to "Add", edit_category_path(category), remote: true, :class => 'button' %>-->
       <a style="border-radius:100em;" href="#" class="button small radius large"><i  class="fi-plus"></i></a>
       <% end %>
     </div>
   </div>
     </div>

    </div>

<!-- end nominees -->




  </div>

</div>
