<div id="category_<%= category.id%>" class="row" style='margin-bottom:3.7em;'>

  <div class="small-12 small-centered columns">

    <div class="row">
      <div class="small-12 columns">
        <h3><%= category.name %>
          <% if current_user.admin %>
          <%= link_to edit_category_path(category), remote: true, :class => 'button tiny' do %>
          <i class="fi-pencil"></i>
          <% end %>
          <%= link_to  category, remote: true, :method => :delete , data: {confirm: "Are you sure?"}, :class => "button hollow alert tiny" do%>
          <i class="fi-x"></i>
          <% end %>
          <% end %>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <h4 class="subheader"><%= category.description %>
        </h4>
      </div>
    </div>

    <!-- nominees -->
    <div id="new_nominee"></div>

    <div id="nominees" class="row align-stretch align-middle">

      <% if current_user.admin %>
      <div class="columns small-1" style="">
        <div>
          <!--<%= link_to "Add", edit_category_path(category), remote: true, :class => 'button' %>-->
          <!--<a style="border-radius:100em;" href="#" class="button small radius large"><i  class="fi-plus"></i></a>-->
          <%= link_to new_nominee_category_path(category.id,:category_id => category.id), remote: true, :class => "button large" ,:style => "border-radius:100em;vertical-align:middle;"    do %>
          <i class="fi-plus" data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Create a new nominee"></i>
          <% end %>

        </div>
      </div>

      <% end %>
      <%= render :partial => 'nominee', :collection => @nominees = Nominee.where(category_id: category.id).joins('LEFT OUTER JOIN bets ON bets.nominee_id = nominees.id') %>



    </div>

    <%= render :partial => 'dialog_nominee' %>

    <!-- end nominees -->



    <!-- Bets -->
    <%= render :partial => 'dialog_bet' %>

    <!-- end bets -->



  </div>

</div>
