
<% if nominee.nil? == false %>
<div id="nominee_<%= nominee.id %>" class="small-12 large-expand medium-expand columns" style="background-color:#f9f9f9;border-radius:0.7em; margin:0.4em; max-width:250px;max-height:360px;">

  <div class="row">

    <div class="column small-12" style="text-align:center;">

      <% if nominee.image_url.nil? || nominee.image_url.empty? %>
      <img style="height:auto; width:100px; margin-top:1em;" class="thumbnail" src="https://upload.wikimedia.org/wikipedia/en/e/ee/Unknown-person.gif" alt="nomee name">
      <% else %>
      <img style="height:auto; width:100px; margin-top:1em; overflow: hidden;" class="thumbnail" src="<%= nominee.image_url %>" alt="nomee name">
      <% end %>


    </div>

  </diV>

    <div class="row">
      <div class="column small-12" style="text-align:center;">
        <h5><%= nominee.name %></h5>
      </div>
    </div>

    <div class="row  align-center">

        <% if current_user.admin %>
        <div class="" style="margin-right:0.5em;">
        <%= link_to edit_nominee_category_path(nominee.id,:nominee_id => nominee.id,
                                                            :nominee_name => nominee.name,
                                                            :nominee_description => nominee.description,
                                                            :nominee_image_url => nominee.image_url),
                                                            remote: true,
                                                            :method => :put, :class => 'button tiny' do %>
        <i class="fi-pencil"></i>
        <% end %>
        </div>
        <div class="">
        <%= link_to destroy_nominee_category_path(nominee.id,:nominee_id => nominee.id), remote: true, :method => :delete , data: {confirm: "Are you sure?"}, :class => "button hollow alert tiny" do%>
        <i class="fi-x"></i>
        <% end %>
        </div>
        <% end %>

    </div>


    <div class="row">
      <div class="small-12 column">
      <div class="row" style="margin-bottom:0px; text-align:center;">
        <div class="small-12 column">
        <button class="button ">Place Bet</button>
      </div>
      </div>
      <div class="row"  style="margin-bottom:0px; display:none;text-align:center;">
        <div class="small-12 column">
        <button class="button  alert">Unplace Bet</button>
      </div>
      </div>
   </div>
    </div>

  </div>

<% end %>
