<% if nominee.nil? == false %>
<div id="nominee_<%= nominee.id %>" class="column small-4" style="background-color:#f9f9f9;border-radius:1em;">
  <div class="row">
    <div class="small-12 small-centered columns" style="text-align:center">

      <% if nominee.image_url.nil? || nominee.image_url.empty? %>
      <img style="heigth:140px; width:140px; margin-top:1em;" class="thumbnail" src="https://upload.wikimedia.org/wikipedia/en/e/ee/Unknown-person.gif" alt="nomee name">
      <% else %>
      <img style="heigth:140px; width:140px; margin-top:1em;" class="thumbnail" src="<%= nominee.image_url %>" alt="nomee name">
      <% end %>


    </div>
    <div class="row">
      <div class="small-12 columns small-centered" style="text-align:center">
        <h5><%= nominee.name %></h3>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns small-centered" style="text-align:center">

        <!--<button class="button tiny">
          <i class="fi-pencil"></i>
        </button>
        <button class="button tiny alert hollow">
          <i class="fi-x"></i>
        </button>-->

        <% if current_user.admin %>
        <%= link_to destroy_nominee_category_path(nominee), remote: true, :class => 'button tiny' do %>
        <i class="fi-pencil"></i>
        <% end %>
        <%= link_to destroy_nominee_category_path(nominee.id,:nominee_id => nominee.id), remote: true, :method => :delete , data: {confirm: "Are you sure"}, :class => "button hollow alert tiny" do%>
        <i class="fi-x"></i>
        <% end %>
        <% end %>


      </div>
    </div>



    <div class="row">
      <div class="small-12 columns small-centered" style="text-align:center">
        <button class="button tiny">Place Bet</button>
        <button class="button tiny alert">Unplace Bet</button>
      </div>
    </div>

  </div>
</div>
<% end %>
