
<% if nominee.nil? == false %>
<div id="nominee_<%= nominee.id %>" class="small-12 large-expand medium-expand columns" style="background-color:#f9f9f9;border-radius:0.7em; margin:0.4em;">

  <div class="row">

    <div class="column small-12">

      <% if nominee.image_url.nil? || nominee.image_url.empty? %>
      <img style="heigth:140px; width:140px; margin-top:1em;" class="thumbnail" src="https://upload.wikimedia.org/wikipedia/en/e/ee/Unknown-person.gif" alt="nomee name">
      <% else %>
      <img style="heigth:140px; width:140px; margin-top:1em;" class="thumbnail" src="<%= nominee.image_url %>" alt="nomee name">
      <% end %>


    </div>

  </diV>

    <div class="row">
      <div class="column small-12">
        <h5><%= nominee.name %></h5>
      </div>
    </div>

    <div class="row">

        <% if current_user.admin %>
        <div class="column small-4">
        <%= link_to edit_nominee_category_path(nominee.id,:nominee_id => nominee.id,
                                                            :nominee_name => nominee.name,
                                                            :nominee_description => nominee.description,
                                                            :nominee_image_url => nominee.image_url),
                                                            remote: true,
                                                            :method => :put, :class => 'button tiny' do %>
        <i class="fi-pencil"></i>
        <% end %>
        </div>
        <div class="column small-4">
        <%= link_to destroy_nominee_category_path(nominee.id,:nominee_id => nominee.id), remote: true, :method => :delete , data: {confirm: "Are you sure"}, :class => "button hollow alert tiny" do%>
        <i class="fi-x"></i>
        <% end %>
        </div>
        <% end %>

    </div>


    <div class="row">
      <div class="column small-4" >
        <button class="button tiny">Place Bet</button>
      </div>
      <div class="column small-4">
        <button class="button tiny alert">Unplace Bet</button>
      </div>

    </div>

  </div>

<% end %>
